DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=benchmark_rti
DB_CONNECTION_LIMIT=10
APP_PORT_EXPRESS=3000
APP_PORT_PHP=8000
TOTAL_PRODUCTS=100000
REVIEWS_PER_PRODUCT=1
SEED=42
K6_BASE_URL_EXPRESS=http://localhost:3000
K6_BASE_URL_PHP=http://localhost:8000
